<div class="modal-header">
    <h3 class="modal-title" align="left">Alert</h3>
</div>
<div class="modal-body">
   <img src="./public/lib/images/warning.png" height="30" width="30" align="left"/><h4>Do you really want to  {{msg}} ?</h4>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="yes()">Yes</button>
    <button class="btn btn-warning" type="button" ng-click="no()">No</button>
</div>