<div class="modal-header">
    <h3 class="modal-title" align="left">Password Change</h3>
</div>
<div class="modal-body">
   <!-- <img src="./public/lib/images/warning.png" height="30" width="30" align="left"/><h3>Please Login</h3> -->
   <form name="mydetails_pass_change" novalidate>
        <div class="contact_form">
        
        	
                    
        	
         <!--  <div class="row">
                        <div class="col-sm-12"> <input ng-model="user_name" placeholder="Holder's name"  class="form-control contact_inputtextbox" required/>
                        </div>
                         
                          
                      </div> -->
                      <div class="row">
                        <div ng-show="mydetails_pass_change.user_cur_pass.$touched">
                          <span class="val_error" ng-show="mydetails_pass_change.user_cur_pass.$error.required">Please Enter your current password.</span>
                          <!-- <span class="val_error" ng-show="loginForm.username.$error.email">Invalid Email.</span> -->
                        </div>
                         <div class="col-sm-12"><input ng-model="user_cur_pass"  type="password" placeholder="Current Password" class="form-control contact_inputtextbox" name="user_cur_pass" required/></div>
                      </div>
                      <!-- <div class="row">
                          <div class="col-sm-12">
                            <input type="text" class="form-control contact_inputtextbox"  name="user_dob" ng-model="user_dob" required placeholder="Date of Birth" datepicker/></div>
                          
                      </div> -->
                      <div class="row">
                        <div ng-show="mydetails_pass_change.user_password.$touched">
                          <span class="val_error" ng-show="mydetails_pass_change.user_password.$error.required">Please Enter your new password.</span>
                        </div>
                         <div class="col-sm-12"><input ng-model="user_password"  type="password" placeholder="New Password" class="form-control contact_inputtextbox" name="user_password" required/></div>
                      </div>
                      <div class="row">
                          <div ng-show="mydetails_pass_change.$submitted||mydetails_pass_change.user_conf_password.$touched">
                          <span class="val_error" ng-show="mydetails_pass_change.user_conf_password.$error.required">confirm password required.</span>
                          <span class="val_error" ng-show="mydetails_pass_change.user_conf_password.$error.compareTo">Password not match.</span>
                        </div>
                          <div class="col-sm-12">
                            <input type="password" class="form-control contact_inputtextbox"  name="user_conf_password" ng-model="user_conf_password" required placeholder="Confirm Password" compare-to="user_password" /></div>
                          
                      </div>

        <!-- </div> -->
        <!-- <div class="col-sm-12 contact_form_box"> -->
                      <!-- <div class="row">
                        <div class="col-sm-12"> <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card" class="form-control contact_inputtextbox"/></div>
                          <div class="col-sm-6"><input ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry" class="form-control contact_inputtextbox"/></div>
                          <div class="col-sm-6"><input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" class="form-control contact_inputtextbox"/></div>
                      </div>
 -->
                       
          <!-- </div> -->
                    
        </div>	      
       		<!-- <div class="col-sm-12 contact_form_box tbc">
                    <button type="sub" class="btn btn-success">Go Gold</button>
            </div> -->
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="passwordChange()"  ng-disabled="mydetails_pass_change.$invalid">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>