<style>
.modal-dialog {
  max-width:267px;
}
</style>

<div class="modal-header">
    <h3 class="modal-title" align="left">Sorry!</h3>
</div>
<div class="modal-body">
   <img src="assets/images/warning.png" height="30" width="30" align="left"/><h3>Please Login</h3>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <!-- <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> -->
</div>