<div class="pagination"><ul>
  <li ng-class="{disabled: noPrevious()}"><a ng-click="selectPrevious()">Previous</a></li>
  <li ng-repeat="page in data" ng-class="{active: isActive(page)}"><a ng-click="selectPage(page)">{{page}}</a></li>
  <li ng-class="{disabled: noNext()}"><a ng-click="selectNext()">Next</a></li>
  </ul>
</div>